<a href="https://colab.research.google.com/github/Ellie2499/db_course/blob/main/THIRI_MOE_HTET_12214682_WEEK12_LAB_SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3 as sl
con=sl.connect('my_test.db')

In [2]:
with con:
  con.execute("""
  CREATE TABLE USER (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
    );
    """)

In [3]:
sql='INSERT INTO USER (id, name, age) values (?, ?, ?)'
data=[
    (1,'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [4]:
with con:
  con.executemany(sql, data)

In [6]:
with con:
  data = con.execute('SELECT * FROM USER WHERE age<= 22')
  for row in data:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

In [10]:
import pandas as pd
df_skill=pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill':['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})

In [14]:
df_skill.to_sql('SKILL1',con)
df=pd.read_sql('''
SELECT s.user_id, u.name, u.age, s.skill
FROM USER u LEFT JOIN SKILL s ON u.id= s.user_id
''',con)
df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

In [15]:
df.to_sql('USER_SKILL', con)

7

In [16]:
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

In [18]:
import sqlite3
conn=sqlite3.connect('AdvancedSQLLab3.db')
cursor=conn.cursor()
r_list=cursor.execute("SELECT date('now')")
for rows in r_list:
  print(rows)
conn.commit()
conn.close()

('2023-11-13',)

In [27]:
import sqlite3
from datetime import datetime, timedelta
from random import uniform

conn = sqlite3.connect('AdvancedSQLLab3.db')
cursor = conn.cursor()

commands = [
    """
    CREATE TABLE IF NOT EXISTS Temperature (
        Timestamp DATETIME NOT NULL,
        Temperature NUMERIC NOT NULL
    );
    """,
    """
    CREATE UNIQUE INDEX IF NOT EXISTS idx_timestamp ON Temperature (Timestamp);
    """
]

for command in commands:
    cursor.execute(command)

def dt(days):
    return timedelta(days=days)

N_rows = 500
now = datetime.now()

for i in range(N_rows):
    timestamp = now - dt(N_rows - i)
    temperature = uniform(18, 26)
    cursor.execute("INSERT INTO Temperature VALUES (?, ?)", (timestamp, temperature))

r_list = cursor.execute("SELECT datetime(Timestamp) as Date, Temperature FROM Temperature")

for rows in r_list:
    print(rows)

conn.commit()
conn.close()
import sqlite3
conn=sqlite3.connect('AdvancedSQLLab3.db')
cursor=conn.cursor()
r_list=cursor.execute("SELECT date('now','start of month', '+1 month', '-1 day')")
for rows in r_list:
  print(rows)
conn.commit()
conn.close()

('2022-07-01 01:00:00', 19.826622673526195)
('2022-07-02 01:00:00', 23.562757456835477)
('2022-07-03 01:00:00', 18.367177694890948)
('2022-07-04 01:00:00', 18.858921594293413)
('2022-07-05 01:00:00', 22.4546928667458)
('2022-07-06 01:00:00', 21.844365792187766)
('2022-07-07 01:00:00', 18.90300479463698)
('2022-07-08 01:00:00', 24.17132104031974)
('2022-07-09 01:00:00', 24.862654927578703)
('2022-07-10 01:00:00', 19.97440571717364)
('2022-07-11 01:00:00', 23.079375591640826)
('2022-07-12 01:00:00', 21.127801279970576)
('2022-07-13 01:00:00', 24.973704710694747)
('2022-07-14 01:00:00', 23.0768434695334)
('2022-07-15 01:00:00', 19.57974558313321)
('2022-07-16 01:00:00', 20.30036091752612)
('2022-07-17 01:00:00', 23.39469056434222)
('2022-07-18 01:00:00', 23.999052223770466)
('2022-07-19 01:00:00', 21.169189866869118)
('2022-07-20 01:00:00', 23.921427005490074)
('2022-07-21 01:00:00', 19.52538182504811)
('2022-07-22 01:00:00', 19.84665925113033)
('2022-07-23 01:00:00', 22.973198853433015)
('2022-07-24 01:00:00', 23.782308409717302)
('2022-07-25 01:00:00', 24.13853048456115)
('2022-07-26 01:00:00', 23.726170504821777)
('2022-07-27 01:00:00', 20.856637420512957)
('2022-07-28 01:00:00', 23.856329986081075)
('2022-07-29 01:00:00', 22.67238870454584)
('2022-07-30 01:00:00', 19.00044507324518)
('2022-07-31 01:00:00', 24.935527121916046)
('2022-08-01 01:00:00', 20.561915335113547)
('2022-08-02 01:00:00', 25.304989491724257)
('2022-08-03 01:00:00', 22.3957832134871)
('2022-08-04 01:00:00', 22.691565498616857)
('2022-08-05 01:00:00', 20.721994099899995)
('2022-08-06 01:00:00', 18.2704385004964)
('2022-08-07 01:00:00', 20.29901546828348)
('2022-08-08 01:00:00', 20.98284627216352)
('2022-08-09 01:00:00', 22.489584528869948)
('2022-08-10 01:00:00', 18.318779542568848)
('2022-08-11 01:00:00', 25.68206214524075)
('2022-08-12 01:00:00', 19.046119120379192)
('2022-08-13 01:00:00', 25.091378942086696)
('2022-08-14 01:00:00', 24.025333201565267)
('2022-08-15 01:00:00', 23.827116406018476)
('2022-08-16 01:00:00', 19.439424700834294)
('2022-08-17 01:00:00', 21.36593858712988)
('2022-08-18 01:00:00', 18.525228824993555)
('2022-08-19 01:00:00', 19.38221025847225)
('2022-08-20 01:00:00', 20.031674138825892)
('2022-08-21 01:00:00', 18.18789639459252)
('2022-08-22 01:00:00', 20.113631116213853)
('2022-08-23 01:00:00', 20.459222129836142)
('2022-08-24 01:00:00', 19.21925871329784)
('2022-08-25 01:00:00', 25.059708218896226)
('2022-08-26 01:00:00', 20.085779570232)
('2022-08-27 01:00:00', 25.556931142314852)
('2022-08-28 01:00:00', 18.528979313316068)
('2022-08-29 01:00:00', 25.24577784597947)
('2022-08-30 01:00:00', 21.948511760114215)
('2022-08-31 01:00:00', 19.086796308047052)
('2022-09-01 01:00:00', 18.15306834802596)
('2022-09-02 01:00:00', 21.069510077915623)
('2022-09-03 01:00:00', 18.48609832533026)
('2022-09-04 01:00:00', 25.23321632657786)
('2022-09-05 01:00:00', 22.291868096084524)
('2022-09-06 01:00:00', 23.31837010679852)
('2022-09-07 01:00:00', 24.921169079653136)
('2022-09-08 01:00:00', 25.426166978363852)
('2022-09-09 01:00:00', 18.596304534452152)
('2022-09-10 01:00:00', 19.020141699896204)
('2022-09-11 01:00:00', 23.74856958902236)
('2022-09-12 01:00:00', 24.84873984694299)
('2022-09-13 01:00:00', 19.428539319840894)
('2022-09-14 01:00:00', 22.9014946314031)
('2022-09-15 01:00:00', 22.554264565588248)
('2022-09-16 01:00:00', 22.497608822456016)
('2022-09-17 01:00:00', 24.166256300867566)
('2022-09-18 01:00:00', 19.062175631884465)
('2022-09-19 01:00:00', 23.68355956585866)
('2022-09-20 01:00:00', 23.716747790790876)
('2022-09-21 01:00:00', 24.181938252984978)
('2022-09-22 01:00:00', 22.52009492585706)
('2022-09-23 01:00:00', 24.405773081083385)
('2022-09-24 01:00:00', 21.42642954254679)
('2022-09-25 01:00:00', 19.823887057583722)
('2022-09-26 01:00:00', 22.630606438104103)
('2022-09-27 01:00:00', 20.72956754230567)
('2022-09-28 01:00:00', 25.866459145996227)
('2022-09-29 01:00:00', 24.798440344975692)
('2022-09-30 01:00:00', 19.626812943007774)
('2022-10-01 01:00:00', 25.412573052575716)
('2022-10-02 01:00:00', 19.907917373857266)
('2022-10-03 01:00:00', 24.017172483298452)
('2022-10-04 01:00:00', 24.67863197170462)
('2022-10-05 01:00:00', 18.402175058018432)
('2022-10-06 01:00:00', 24.30167715875045)
('2022-10-07 01:00:00', 24.487911320998826)
('2022-10-08 01:00:00', 21.615895708624052)
('2022-10-09 01:00:00', 24.976835878458502)
('2022-10-10 01:00:00', 24.56447252151173)
('2022-10-11 01:00:00', 18.94813993124312)
('2022-10-12 01:00:00', 22.14463157089287)
('2022-10-13 01:00:00', 23.599988050534463)
('2022-10-14 01:00:00', 21.721288324995793)
('2022-10-15 01:00:00', 21.911861006706303)
('2022-10-16 01:00:00', 24.887237711482232)
('2022-10-17 01:00:00', 24.725141671538697)
('2022-10-18 01:00:00', 19.927020939363704)
('2022-10-19 01:00:00', 22.99378633093174)
('2022-10-20 01:00:00', 22.72963904528865)
('2022-10-21 01:00:00', 25.91092029955601)
('2022-10-22 01:00:00', 22.807107661064556)
('2022-10-23 01:00:00', 23.242092981916784)
('2022-10-24 01:00:00', 23.637030360439084)
('2022-10-25 01:00:00', 24.195767788384394)
('2022-10-26 01:00:00', 22.931686910195207)
('2022-10-27 01:00:00', 24.5595777446366)
('2022-10-28 01:00:00', 18.676919057188083)
('2022-10-29 01:00:00', 20.60638711832974)
('2022-10-30 01:00:00', 24.874711454052232)
('2022-10-31 01:00:00', 20.408568341803317)
('2022-11-01 01:00:00', 19.4091678057221)
('2022-11-02 01:00:00', 18.3123511631644)
('2022-11-03 01:00:00', 20.91879835791026)
('2022-11-04 01:00:00', 19.761343854571944)
('2022-11-05 01:00:00', 21.809888571634442)
('2022-11-06 01:00:00', 22.240765399688748)
('2022-11-07 01:00:00', 18.592030439727534)
('2022-11-08 01:00:00', 25.794291095960528)
('2022-11-09 01:00:00', 21.652484058791952)
('2022-11-10 01:00:00', 22.512929009138556)
('2022-11-11 01:00:00', 18.79517180094813)
('2022-11-12 01:00:00', 22.989362342569994)
('2022-11-13 01:00:00', 20.297050787133507)
('2022-11-14 01:00:00', 22.19376896211521)
('2022-11-15 01:00:00', 19.53198821299474)
('2022-11-16 01:00:00', 21.937445449285143)
('2022-11-17 01:00:00', 22.878998953683343)
('2022-11-18 01:00:00', 23.539103752614253)
('2022-11-19 01:00:00', 21.798060972997234)
('2022-11-20 01:00:00', 24.65194846557492)
('2022-11-21 01:00:00', 21.656456148590557)
('2022-11-22 01:00:00', 21.662444423390014)
('2022-11-23 01:00:00', 19.65198479133646)
('2022-11-24 01:00:00', 21.121076598077046)
('2022-11-25 01:00:00', 25.866457857647788)
('2022-11-26 01:00:00', 19.77454654711101)
('2022-11-27 01:00:00', 24.877859298782262)
('2022-11-28 01:00:00', 21.452479758012654)
('2022-11-29 01:00:00', 24.75979164549843)
('2022-11-30 01:00:00', 20.723668883667237)
('2022-12-01 01:00:00', 20.440745745210272)
('2022-12-02 01:00:00', 23.242466126115072)
('2022-12-03 01:00:00', 22.83725609438086)
('2022-12-04 01:00:00', 22.578195192011997)
('2022-12-05 01:00:00', 22.295320335591448)
('2022-12-06 01:00:00', 23.414859309517293)
('2022-12-07 01:00:00', 20.45193612992723)
('2022-12-08 01:00:00', 23.773777505969026)
('2022-12-09 01:00:00', 25.055075461509173)
('2022-12-10 01:00:00', 24.174103671560594)
('2022-12-11 01:00:00', 25.977741059652754)
('2022-12-12 01:00:00', 20.023493094600514)
('2022-12-13 01:00:00', 22.436401318567494)
('2022-12-14 01:00:00', 19.089752045950668)
('2022-12-15 01:00:00', 20.596423058055635)
('2022-12-16 01:00:00', 18.999554608427964)
('2022-12-17 01:00:00', 25.88926940698271)
('2022-12-18 01:00:00', 25.779006058141647)
('2022-12-19 01:00:00', 24.4050818183698)
('2022-12-20 01:00:00', 20.252311372587627)
('2022-12-21 01:00:00', 22.910828132036215)
('2022-12-22 01:00:00', 21.83827958417477)
('2022-12-23 01:00:00', 20.003889624582058)
('2022-12-24 01:00:00', 24.418104559334417)
('2022-12-25 01:00:00', 25.68131643351232)
('2022-12-26 01:00:00', 22.060590448667934)
('2022-12-27 01:00:00', 25.961412699048914)
('2022-12-28 01:00:00', 18.261615047634905)
('2022-12-29 01:00:00', 23.6645431633258)
('2022-12-30 01:00:00', 24.800628589985756)
('2022-12-31 01:00:00', 20.038670470797545)
('2023-01-01 01:00:00', 19.78415841618962)
('2023-01-02 01:00:00', 18.27011964787698)
('2023-01-03 01:00:00', 23.91066517455662)
('2023-01-04 01:00:00', 22.674656882359876)
('2023-01-05 01:00:00', 18.61131896457986)
('2023-01-06 01:00:00', 22.386788404360413)
('2023-01-07 01:00:00', 20.19843887286611)
('2023-01-08 01:00:00', 25.246570964645592)
('2023-01-09 01:00:00', 22.721625576294)
('2023-01-10 01:00:00', 25.57301716274927)
('2023-01-11 01:00:00', 24.18792228632026)
('2023-01-12 01:00:00', 19.25289132256821)
('2023-01-13 01:00:00', 18.00884685633477)
('2023-01-14 01:00:00', 25.114169244322294)
('2023-01-15 01:00:00', 24.389265764101033)
('2023-01-16 01:00:00', 18.652503583450848)
('2023-01-17 01:00:00', 24.854606499577386)
('2023-01-18 01:00:00', 21.030065832453687)
('2023-01-19 01:00:00', 23.72255322008859)
('2023-01-20 01:00:00', 22.620857145988175)
('2023-01-21 01:00:00', 24.76728528362063)
('2023-01-22 01:00:00', 21.907750205031856)
('2023-01-23 01:00:00', 22.283250874428525)
('2023-01-24 01:00:00', 25.16435848797275)
('2023-01-25 01:00:00', 23.1382319035068)
('2023-01-26 01:00:00', 25.308414080937936)
('2023-01-27 01:00:00', 18.09386885438935)
('2023-01-28 01:00:00', 23.562932974845825)
('2023-01-29 01:00:00', 19.89017486839846)
('2023-01-30 01:00:00', 22.55333492576999)
('2023-01-31 01:00:00', 24.476613841192194)
('2023-02-01 01:00:00', 19.45563969597347)
('2023-02-02 01:00:00', 18.857119051023858)
('2023-02-03 01:00:00', 21.722327900138584)
('2023-02-04 01:00:00', 25.465298070892395)
('2023-02-05 01:00:00', 23.288758810837216)
('2023-02-06 01:00:00', 21.969784721654595)
('2023-02-07 01:00:00', 23.968452969401724)
('2023-02-08 01:00:00', 19.171245303572835)
('2023-02-09 01:00:00', 19.47283832344917)
('2023-02-10 01:00:00', 22.028748986404107)
('2023-02-11 01:00:00', 24.258373872818165)
('2023-02-12 01:00:00', 19.192387425379078)
('2023-02-13 01:00:00', 20.45146358018771)
('2023-02-14 01:00:00', 18.54942833702953)
('2023-02-15 01:00:00', 20.26259719055948)
('2023-02-16 01:00:00', 22.73392900092412)
('2023-02-17 01:00:00', 22.8754384752633)
('2023-02-18 01:00:00', 25.6546488099261)
('2023-02-19 01:00:00', 18.295186629667874)
('2023-02-20 01:00:00', 19.14399014689716)
('2023-02-21 01:00:00', 21.514705564077165)
('2023-02-22 01:00:00', 21.968669828010697)
('2023-02-23 01:00:00', 23.02627496666846)
('2023-02-24 01:00:00', 20.591768108816463)
('2023-02-25 01:00:00', 25.123629054211584)
('2023-02-26 01:00:00', 25.209663276734886)
('2023-02-27 01:00:00', 20.873886097900133)
('2023-02-28 01:00:00', 19.206843806058828)
('2023-03-01 01:00:00', 19.59893130248738)
('2023-03-02 01:00:00', 24.43255686606193)
('2023-03-03 01:00:00', 21.42525724921666)
('2023-03-04 01:00:00', 23.840984462431635)
('2023-03-05 01:00:00', 22.063523637889816)
('2023-03-06 01:00:00', 22.929321293193034)
('2023-03-07 01:00:00', 24.365657121715227)
('2023-03-08 01:00:00', 23.61855194697688)
('2023-03-09 01:00:00', 22.85580005502686)
('2023-03-10 01:00:00', 22.39618370991589)
('2023-03-11 01:00:00', 18.69167239626493)
('2023-03-12 01:00:00', 20.82585582809848)
('2023-03-13 01:00:00', 20.845382813213764)
('2023-03-14 01:00:00', 24.88794425256731)
('2023-03-15 01:00:00', 21.74419074767261)
('2023-03-16 01:00:00', 25.471198106178935)
('2023-03-17 01:00:00', 23.930542688382815)
('2023-03-18 01:00:00', 19.665941705518613)
('2023-03-19 01:00:00', 22.854114628301264)
('2023-03-20 01:00:00', 22.737713626986224)
('2023-03-21 01:00:00', 22.403071919042947)
('2023-03-22 01:00:00', 22.702619349981102)
('2023-03-23 01:00:00', 18.99860173729857)
('2023-03-24 01:00:00', 21.931992447020733)
('2023-03-25 01:00:00', 18.171352465440116)
('2023-03-26 01:00:00', 24.966393523192004)
('2023-03-27 01:00:00', 25.835464133152982)
('2023-03-28 01:00:00', 18.42298299746527)
('2023-03-29 01:00:00', 23.903988269600404)
('2023-03-30 01:00:00', 18.01281639849904)
('2023-03-31 01:00:00', 23.596470785435837)
('2023-04-01 01:00:00', 23.288083399637983)
('2023-04-02 01:00:00', 19.430543007685735)
('2023-04-03 01:00:00', 21.867261009431324)
('2023-04-04 01:00:00', 21.731425978496087)
('2023-04-05 01:00:00', 18.018002335164383)
('2023-04-06 01:00:00', 25.98839835753472)
('2023-04-07 01:00:00', 20.077131191404547)
('2023-04-08 01:00:00', 24.566888505551734)
('2023-04-09 01:00:00', 21.569409930200127)
('2023-04-10 01:00:00', 20.555869397102267)
('2023-04-11 01:00:00', 23.773301162970736)
('2023-04-12 01:00:00', 19.876932281893385)
('2023-04-13 01:00:00', 24.938249928127703)
('2023-04-14 01:00:00', 20.827091485930616)
('2023-04-15 01:00:00', 22.91312104324717)
('2023-04-16 01:00:00', 20.631348178156795)
('2023-04-17 01:00:00', 25.663040269574843)
('2023-04-18 01:00:00', 21.761484496974642)
('2023-04-19 01:00:00', 18.804294534912408)
('2023-04-20 01:00:00', 21.638583463999623)
('2023-04-21 01:00:00', 18.18372559628998)
('2023-04-22 01:00:00', 23.45724224234152)
('2023-04-23 01:00:00', 21.70510589066299)
('2023-04-24 01:00:00', 25.53324954279825)
('2023-04-25 01:00:00', 18.739234749399863)
('2023-04-26 01:00:00', 20.030412282593012)
('2023-04-27 01:00:00', 25.881743132542763)
('2023-04-28 01:00:00', 20.1700299171781)
('2023-04-29 01:00:00', 20.142065513986633)
('2023-04-30 01:00:00', 18.23368484115819)
('2023-05-01 01:00:00', 21.867406851730333)
('2023-05-02 01:00:00', 18.505755830381407)
('2023-05-03 01:00:00', 24.894147330414917)
('2023-05-04 01:00:00', 21.844303787330027)
('2023-05-05 01:00:00', 24.868612416124996)
('2023-05-06 01:00:00', 24.539177413854283)
('2023-05-07 01:00:00', 23.742197661259226)
('2023-05-08 01:00:00', 20.152025806729096)
('2023-05-09 01:00:00', 24.290235629289583)
('2023-05-10 01:00:00', 20.934622806090736)
('2023-05-11 01:00:00', 20.146832053886264)
('2023-05-12 01:00:00', 25.945657169473847)
('2023-05-13 01:00:00', 25.405000187038972)
('2023-05-14 01:00:00', 21.048561560785423)
('2023-05-15 01:00:00', 25.74937649163571)
('2023-05-16 01:00:00', 20.391430216314724)
('2023-05-17 01:00:00', 21.93331476733235)
('2023-05-18 01:00:00', 18.058323057934615)
('2023-05-19 01:00:00', 19.184760955191212)
('2023-05-20 01:00:00', 22.118453011546855)
('2023-05-21 01:00:00', 22.34759313536925)
('2023-05-22 01:00:00', 25.93882955813314)
('2023-05-23 01:00:00', 19.35344047547975)
('2023-05-24 01:00:00', 21.51910722827444)
('2023-05-25 01:00:00', 24.986137857217525)
('2023-05-26 01:00:00', 21.45595191779191)
('2023-05-27 01:00:00', 23.92456021950421)
('2023-05-28 01:00:00', 19.917138013760653)
('2023-05-29 01:00:00', 19.90996717503371)
('2023-05-30 01:00:00', 25.352930403607004)
('2023-05-31 01:00:00', 22.27383460743449)
('2023-06-01 01:00:00', 21.38963414749151)
('2023-06-02 01:00:00', 24.958720232781246)
('2023-06-03 01:00:00', 18.25647768288612)
('2023-06-04 01:00:00', 19.062623927778063)
('2023-06-05 01:00:00', 21.29227199064998)
('2023-06-06 01:00:00', 20.009620562256934)
('2023-06-07 01:00:00', 22.791048449261986)
('2023-06-08 01:00:00', 23.93979455219699)
('2023-06-09 01:00:00', 21.302447126792686)
('2023-06-10 01:00:00', 22.737835098439717)
('2023-06-11 01:00:00', 21.144202644919844)
('2023-06-12 01:00:00', 24.697853270391164)
('2023-06-13 01:00:00', 23.359218081143748)
('2023-06-14 01:00:00', 25.008226587997775)
('2023-06-15 01:00:00', 21.588465312019736)
('2023-06-16 01:00:00', 23.858219324743345)
('2023-06-17 01:00:00', 24.950308116049168)
('2023-06-18 01:00:00', 23.45665544071523)
('2023-06-19 01:00:00', 20.33531003498163)
('2023-06-20 01:00:00', 22.418900396068445)
('2023-06-21 01:00:00', 20.14572527024135)
('2023-06-22 01:00:00', 22.858463171679844)
('2023-06-23 01:00:00', 19.84191225267114)
('2023-06-24 01:00:00', 22.60383769582177)
('2023-06-25 01:00:00', 20.492330042707394)
('2023-06-26 01:00:00', 20.688385432240405)
('2023-06-27 01:00:00', 25.131569192504493)
('2023-06-28 01:00:00', 25.499684533869175)
('2023-06-29 01:00:00', 21.83759396802013)
('2023-06-30 01:00:00', 19.118310198485336)
('2023-07-01 01:00:00', 24.439223188656886)
('2023-07-02 01:00:00', 25.937216945711096)
('2023-07-03 01:00:00', 19.96067819053942)
('2023-07-04 01:00:00', 22.185044809704586)
('2023-07-05 01:00:00', 21.02278906767391)
('2023-07-06 01:00:00', 21.0680623380929)
('2023-07-07 01:00:00', 21.05492149708789)
('2023-07-08 01:00:00', 25.665240492871074)
('2023-07-09 01:00:00', 24.06252441844821)
('2023-07-10 01:00:00', 19.620159373029352)
('2023-07-11 01:00:00', 20.354945774636878)
('2023-07-12 01:00:00', 22.380615347787245)
('2023-07-13 01:00:00', 22.719495826702694)
('2023-07-14 01:00:00', 18.37121534218884)
('2023-07-15 01:00:00', 24.144799642283964)
('2023-07-16 01:00:00', 22.67182329298004)
('2023-07-17 01:00:00', 25.730075719925008)
('2023-07-18 01:00:00', 19.925499687372884)
('2023-07-19 01:00:00', 25.32032532142479)
('2023-07-20 01:00:00', 18.351866955330458)
('2023-07-21 01:00:00', 21.175283970267728)
('2023-07-22 01:00:00', 19.6145003543287)
('2023-07-23 01:00:00', 19.820601104074917)
('2023-07-24 01:00:00', 20.810563326002754)
('2023-07-25 01:00:00', 24.67152549971876)
('2023-07-26 01:00:00', 19.45931592103876)
('2023-07-27 01:00:00', 25.795383531613197)
('2023-07-28 01:00:00', 21.65069290443639)
('2023-07-29 01:00:00', 24.995281148253227)
('2023-07-30 01:00:00', 24.66181378556895)
('2023-07-31 01:00:00', 22.40456532935822)
('2023-08-01 01:00:00', 18.06830778238698)
('2023-08-02 01:00:00', 21.64933778427048)
('2023-08-03 01:00:00', 22.225644398441407)
('2023-08-04 01:00:00', 24.87962595296007)
('2023-08-05 01:00:00', 24.875024325830452)
('2023-08-06 01:00:00', 19.256495745715938)
('2023-08-07 01:00:00', 25.94666661345933)
('2023-08-08 01:00:00', 22.296364648818784)
('2023-08-09 01:00:00', 24.20715115414202)
('2023-08-10 01:00:00', 24.86896986247845)
('2023-08-11 01:00:00', 23.741646015607863)
('2023-08-12 01:00:00', 18.030595181310815)
('2023-08-13 01:00:00', 21.83020980673903)
('2023-08-14 01:00:00', 18.41259282840818)
('2023-08-15 01:00:00', 22.024784978261028)
('2023-08-16 01:00:00', 18.522721201160337)
('2023-08-17 01:00:00', 22.737973952821505)
('2023-08-18 01:00:00', 24.489942964078807)
('2023-08-19 01:00:00', 22.852732587510317)
('2023-08-20 01:00:00', 22.591844897994186)
('2023-08-21 01:00:00', 23.18573729569572)
('2023-08-22 01:00:00', 21.013825063179972)
('2023-08-23 01:00:00', 19.384446391281532)
('2023-08-24 01:00:00', 22.993449100499006)
('2023-08-25 01:00:00', 22.566829873757005)
('2023-08-26 01:00:00', 21.50353371612026)
('2023-08-27 01:00:00', 22.42042101720619)
('2023-08-28 01:00:00', 18.586229193344142)
('2023-08-29 01:00:00', 25.778286048121025)
('2023-08-30 01:00:00', 19.649672902500278)
('2023-08-31 01:00:00', 22.09355277227594)
('2023-09-01 01:00:00', 19.06623279266971)
('2023-09-02 01:00:00', 24.576189442050115)
('2023-09-03 01:00:00', 18.22766848651404)
('2023-09-04 01:00:00', 24.6695175660507)
('2023-09-05 01:00:00', 20.03871602837939)
('2023-09-06 01:00:00', 18.72435136507422)
('2023-09-07 01:00:00', 22.537755558292744)
('2023-09-08 01:00:00', 21.039647592812745)
('2023-09-09 01:00:00', 24.20557544097726)
('2023-09-10 01:00:00', 23.759590878124175)
('2023-09-11 01:00:00', 22.36202744393772)
('2023-09-12 01:00:00', 22.975306096905154)
('2023-09-13 01:00:00', 20.106233922905176)
('2023-09-14 01:00:00', 22.42017049198531)
('2023-09-15 01:00:00', 21.81829384080293)
('2023-09-16 01:00:00', 23.03742524012982)
('2023-09-17 01:00:00', 25.821689221623178)
('2023-09-18 01:00:00', 19.613972460368085)
('2023-09-19 01:00:00', 23.785821390222047)
('2023-09-20 01:00:00', 19.97567832771771)
('2023-09-21 01:00:00', 18.378117768641204)
('2023-09-22 01:00:00', 18.21116742409684)
('2023-09-23 01:00:00', 21.751034165625278)
('2023-09-24 01:00:00', 23.07943105351025)
('2023-09-25 01:00:00', 24.778777073740606)
('2023-09-26 01:00:00', 22.36122472920223)
('2023-09-27 01:00:00', 20.944370843126645)
('2023-09-28 01:00:00', 20.844435703333303)
('2023-09-29 01:00:00', 25.735549581484417)
('2023-09-30 01:00:00', 21.351593217195816)
('2023-10-01 01:00:00', 24.677111476135664)