<a href="https://colab.research.google.com/github/Ellie2499/db_course/blob/main/WEEK13_LAB_SESSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('example.db')
c=conn.cursor()

In [3]:
c.execute('''CREATE TABLE IF NOT EXISTS employees (id INTEGER PRIMARY KEY, name TEXT, department TEXT, salary INTEGER)''')

In [4]:
sample_data=[(1,'Alice', 'HR', 70000), (2, 'Bob', 'Engineering', 80000) , (3, 'Charlie', 'HR', 75000 )]

In [5]:
c.executemany('INSERT INTO employees VALUES (?,?,?,?)', sample_data)

In [6]:
c.execute('CREATE INDEX idx_department ON employees (department)')

In [7]:
c.execute('SELECT * FROM employees WHERE department="HR"')
print("Query plan with index:", c.fetchall())

Query plan with index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]

In [8]:
c.execute('DROP INDEX idx_department')

In [9]:
c.execute('SELECT * FROM employees WHERE department="HR"')

In [10]:
print("Query plan without index:", c.fetchall())

Query plan without index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]

In [11]:
conn.commit()
conn.close()

In [12]:
import sqlite3

In [13]:
conn=sqlite3.connect('example.db')
c=conn.cursor()

In [14]:
c.execute('''CREATE TABLE IF NOT EXISTS products (id INTEGER PRIMARY KEY, name TEXT, category TEXT, price INTEGER)''')

In [15]:
sample_data=[(1, 'Laptop', 'Electronics', 1200), (2, 'Chair', 'Furniture', 150), (3, 'Smaretphone', 'Electronics', 800)]

In [17]:
c.executemany('INSERT INTO products VALUES (?,?,?,?)', sample_data)

In [18]:
c.execute('SELECT name, price FROM products WHERE category ="Electronics"')
print('Efficient query results:', c.fetchall())

Efficient query results: [('Laptop', 1200), ('Smaretphone', 800)]

In [19]:
conn.commit()
conn.close()

In [20]:
import sqlite3
conn=sqlite3.connect('example.db')
c=conn.cursor()

In [21]:
c.execute('''CREATE TABLE IF NOT EXISTS orders (id INTEGER PRIMARY KEY, product_id INTEGER, quantity INTEGER)''')

In [22]:
conn.execute('BEGIN TRANSACTION')

In [23]:
bulk_data=[(i,i%5+1, i*2) for i in range(1,1001)]
c.executemany('INSERT INTO orders VALUES (?,?,?)', bulk_data)

In [24]:
conn.commit()

In [25]:
c.execute('SELECT COUNT(*) FROM orders')

In [26]:
print("Number of records inserted:", c.fetchone()[0])

Number of records inserted: 1000

In [27]:
conn.close()

In [28]:
import sqlite3
conn=sqlite3.connect('example.db')
c=conn.cursor()

In [29]:
c.execute('''CREATE TABLE IF NOT EXISTS students (id INTEGER PRIMARY KEY, name TEXT, class_id INTEGER)''')
c.execute('''CREATE TABLE IF NOT EXISTS classes (id INTEGER PRIMARY KEY,  class_name TEXT)''')

In [30]:
students_data=[(1, 'John', 1), (2, 'Emma', 2), (3, 'Harry', 1)]

In [31]:
classes_data=[(1, 'Math'), (2, 'Science')]

In [32]:
c.executemany('INSERT INTO students VALUES (?,?,?)', students_data)
c.executemany('INSERT INTO classes VALUES (?,?)', classes_data)

In [33]:
c.execute('''SELECT students.name, classes.class_name
              FROM students
              JOIN classes ON students.class_id=classes.id''')

In [34]:
print("Join results:", c.fetchall())

Join results: [('John', 'Math'), ('Emma', 'Science'), ('Harry', 'Math')]

In [35]:
conn.commit()
conn.close()

In [36]:
import sqlite3
conn=sqlite3.connect('example.db')
c=conn.cursor()

In [37]:
c.execute('PRAGMA journal_mode=WAL')
journal_mode=c.fetchone()[0]
print("Journal mode set to:", journal_mode)

Journal mode set to: wal

In [38]:
c.execute('PRAGMA foreign_keys=ON')
c.execute('PRAGMA foreign_keys')
fk_status=c.fetchone()[0]
print("Foreign keys status:", "Enabled" if fk_status else "Disabled")

Foreign keys status: Enabled

In [39]:
c.execute('PRAGMA synchronous=NORMAL')
c.execute('PRAGMA synchronous')
sync_mode=c.fetchone()[0]
print("Synchronous mode set to:", sync_mode)

Synchronous mode set to: 1

In [40]:
c.execute('PRAGMA cache_size=10000')
c.execute('PRAGMA cache_size')
cache_size=c.fetchone()[0]
print("Cache size set to: ", cache_size, "pages")

Cache size set to:  10000 pages

In [41]:
c.execute('PRAGMA page_size')
page_size=c.fetchone()[0]
c.execute('PRAGMA page_count')
page_count=c.fetchone()[0]
db_size=page_size*page_count
print("Database size:", db_size, "bytes")

Database size: 36864 bytes

In [42]:
conn.close()